@font-face {
    font-family: "Pretendo";
    src: url('/Fonts/pretendo.ttf') format('truetype');
}

@font-face {
    font-family: "Nes-Controller";
    src: url('/Fonts/nes_controller.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
}

h1 {
    color: red;
    font-family: Pretendo;
    letter-spacing: 3px;
    padding: 20px;
}

.gamepad {
    height: 318px;
    width: 738px;
    background-color: #cac7c5;
    border-radius: 7px;
    margin: 0 auto;
}

.pad_mirror{
    background-color: #262626;
    height: 258px;
    width: 698px;
    position: relative;
    top: 40px;
    left: 20px;
    border-radius: 7px;
}

.up {
    background-color: black;
    height: 51px;
    width: 51px;
    position: absolute;
    bottom: 130px;
    left: 85px;
    border-radius: 8px 8px 0 0;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #cac7c5;
}

.right {
    background-color: black;
    height: 51px;
    width: 51px;
    position: absolute;
    bottom: 85px;
    left: 130px;
    border-radius: 0 8px 8px 0;
    border-width: 6px 6px 6px 0;
    border-style: solid;
    border-color: #cac7c5;
}

.down {
    background-color: black;
    height: 51px;
    width: 51px;
    position: absolute;
    bottom: 40px;
    left: 85px;
    border-radius: 0 0 8px 8px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #cac7c5;
}

.left {
    background-color: black;
    height: 51px;
    width: 51px;
    position: absolute;
    bottom: 85px;
    left: 40px;
    border-radius: 8px 0 0 8px ;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: #cac7c5;
}

.center {
    background-color: black;
    height: 39px;
    width: 39px;
    position: absolute;
    bottom: 91px;
    left: 91px;
    z-index: 1;
}

.round-center {
    background-color: black;
    position: relative;
    left: 7%;
    top: 7%;
    height: 86%;
    width: 86%;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(71, 71, 71) inset;
}

.columns{
    display: inline-block;
    width: 215px;
}

#middle-column {
    position: relative;
    left: -25px;
}

.stripes {
    background-color: #93948d;
    height: 40px;
    width: 215px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#stripe-1 {
    border-radius: 0 0 10px 10px;
}

.menu-words {
    display: inline-block;
    color: #961003;
    font-family: Nes-Controller;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 1;
    margin: 6px;
}

#stripe-4 {
    margin-top: 10px;
    margin-bottom: 0;
    height: 23px;
    border-radius: 10px 10px 0 0;
}

.outer-border {
    background-color: #d1d1d1;
    border-radius: 10px;

    display: flex; /* Enable flexbox layout */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.inner-border {
    margin: 8px;
    box-shadow: 4px 4px 10px grey inset;
    width: 215px;
}

.menu-buttons {
    background-color: black;
    box-shadow: 3px 2px 6px #f1f1f1 inset,
                1px 2px 3px rgb(48, 48, 48);
    height: 25px;
    width: 60px;
    margin: 15px 15px;
    border-radius: 20px;
    display: inline-block;
}

.brand {
    color: #961003;
    font-family: Pretendo;
    font-size: 22px;
    letter-spacing: 1px;
    position: relative;
    bottom: 50px;
    right: 10px;
}

strong {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    bottom: 10px;
}

.buttons-frame {
    background-color: #cac7c5;
    box-shadow: 1px 10px 8px rgb(145, 145, 145) inset;
    border-radius: 6px;
    padding: 8px;
    display: inline-block;
    margin: 4px;
    position: relative;
    top: 25px;
    left: -15px;
    z-index: 1;
}

.action-button{
    background-color: #961003;
    box-shadow: 5px 13px 15px #fa5757 inset,
                1px 1px 5px 3px #727272;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    z-index: 2;
}

.action-button-letters {
    display: inline-block;
    color: #961003;
    font-family: Nes-Controller;
    font-size: 30px;
    letter-spacing: 77px;
    position: absolute;
    bottom: 1px;
    width: 5px;
    left: 533px;
}

footer {
    padding: 20px;
}